nav {
    width: 100%;
    font-size: 22px;
    color: #CCDBDC;
    margin-bottom: 50px;
    background-color: rgb(224, 166, 7);
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  #gameScore, #highScore, #message{
    font-size: 60px;
    padding-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #gameScore, #highScore{
    text-align: right;
  }

  #message{
    color: red;
    text-align: center;
  }

  .header {
    color: #29339B;
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  
  @media only screen and (max-width: 750px) {
    #gameScore, #highScore, a {
      font-size: 1rem;
      text-decoration: none;
    }
}